<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Lobster&family=Modak&display=swap"
    rel="stylesheet">
<app-form-search (emitSearch)="getUser($event)"></app-form-search>

<div class="container-fluid" style="padding-top: 80px; padding-left: 50px;">
    <div class="row">
        <div class="col-md-6">
            <img style="border-radius: 50px;" src="{{user.avatar_url}}" alt="">

        </div>

        <div class="col-md-6" style="margin-top: 50px; color: white; font-size: 25px;">
            <h2 style="margin-bottom: 20px; font-size: 50px; font-family: 'Josefin Sans', sans-serif;
   font-family: 'Permanent Marker', cursive;
   font-family: 'Permanent Marker', cursive;; color: rgb(0, 255, 21);">Profile Information</h2>
            <p> <span>Name:</span>
                {{user.name}}
            </p>
            <p *ngIf="user.login">
                <span>UserName:</span>
                {{ user.login }}
            </p>
            <p><span>Bio:</span>
                {{user.bio}}
            </p>
            <p><span>Repositories:</span>
                {{user.public_repos}}
            </p>

            <p> Followers:
                {{ user.followers }}
            </p>

            <p> Following:
                {{ user.following }}
            </p>


        </div>
    </div>

    <div>
        <h2 class="text-center pt-4  font-size:70px;">GitHub Repositories</h2>
    </div>
    <div class="container" style="text-align: center;">

        <div class="row" style="font-family: 'Josefin Sans', sans-serif;
        font-family: 'Lobster', cursive;;  font-size:20px;">
         
            <div class="col-md-6" *ngFor="let repos of userrepos">
                <div class="card mt-3" style="opacity: 0.5;">

                    <p class="text-center pt-4 para" style="opacity: 0.5;">
                        {{repos.name}}
                    </p>

                    <hr>
                    <p>
                        {{repos.description}}
                    </p>

                    <p>
                        {{repos.language}}
                    </p>
                    <p>
                        {{repos.created_at}}
                    </p>
                    <div class="card-footer text-center" style="opacity: 1;">
                        <a href="{{ repos.html_url }}" class="btn btn-success" target="_blank">View on GitHub</a>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>